.body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #202024;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    overflow-x: hidden;
}

.grid__column h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #202024;
    font-size: 2.25rem;
    padding: 20px;
}

.page-header {
    margin: 0 auto;
}

.site-content {
    margin: 0 auto;
}

.page-header__title {
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 auto;
}

.site-content {
    padding: 10px;
    border-radius: 5px;
}

.site-inner {
    padding: 10px;
    border-radius: 5px;
    background: #f4f5f8;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.site-header {
    border-bottom: 1px solid #f4f5f8;
    position: relative;
    z-index: 99999 !important;
}

.site-wrapper > .site-header {
    position: relative;
    z-index: 99 !important;
}

.site-header__main {
    position: relative;
    left: 0;
    background: #f5f6f9;
    top: 0;
    width: 100%;
    z-index: 9;
}

.carousel-inner .carousel-item .text {
    color: #f2f2f2;
    position: absolute;
    top: 36%;
    width: 100%;
    text-align: center;
    font-size: 150px;
    font-weight: 900;
    font-weight: bold;
    letter-spacing: 20px;
    text-transform: uppercase;
    z-index: 300;
}

    .carousel-inner .carousel-item .text h2:hover {
        color: #ff6a00;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

.skill_ex {
    overflow: hidden;
    background-image: url(../images/Slider/hinh2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 450px;
}
    /*.page-content {
    padding-top: 100px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 400px;
    z-index: 100;
}*/
    .skill_ex .page__skill {
        padding-top: 180px;
        display: inline-block;
        width: 100%;
        height: 400px;
        z-index: 100;
    }

    .skill_ex .page-content .dark-overlay {
        position: absolute;
        z-index: 60;
        top: 0;
        right: 0;
        width: 50%;
        height: 660px;
        content: "";
        background: rgba(0, 0, 0, 0.5);
    }

    .skill_ex .page-content .container .text_item {
        text-align: center;
        letter-spacing: 6px;
        padding-top: 15%;
        margin: 0 auto;
    }

    .skill_ex .page-content .container .space {
        padding: 0 30px;
        position: relative;
        z-index: 200;
        padding-top: 10%;
        text-align: center;
        color: #ff6a00;
    }



        .skill_ex .page-content .container .space .expart {
            letter-spacing: 2px;
            margin: 0 0 30px 0;
            font-size: 18px;
        }
/**/
.Experience h3 {
    color: #fff;
}

    .Experience h3:hover {
        color: #ff6a00;
        transition: all .5s;
    }
