.container h1{
    font-size:large;
}

.container h1 {
    font-size: large;
}

.new_products .card-body button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #ff6a00;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

    .new_products .card-body button:hover, .new_products .card-body button:active, .new_products .card-body button:focus {
        background: #43A047;
        color: #ff6a00;
    }

.course {
    text-align: center;
    color: green;
}

.course1 {
    text-align: center;
    font-family: Bradley Hand ITC;
}

.cours2 {
    margin-top: 10px;
}

.cours2 {
    position: relative;
    margin-bottom: 20px;
}


.cours3 {
    border: 1px solid red;
    position: absolute;
    top: -100px;
    opacity: 0;
    bottom: 100px;
    background-color: rgba(142,198,63,.8);
    background-color: rgba(0,0,0,0.3);
    color: white;
    padding: 10p;
}

.cours2:hover .cours3 {
    opacity: 1;
    top: 0px;
    transition: 1s;
}

.cours4 {
    position: absolute;
    border: 1px solid red;
    margin-top: -80px;
    padding-top: 10px;
    width: 100%;
    height: 80px;
    opacity: 0;
    bottom: -50px;
    background-color: rgba(142,198,63,.8);
    background-color: rgba(0,0,0,0.3);
}

.cours2:hover .cours4 {
    opacity: 1;
    bottom: 0;
    transition: 1s;
}

.cours2:hover .hover {
    transform: scale(1.3);
    transition: 1s;
}

.cours7 {
    border: 1px solid rgb(73,183,43);
    background-color: rgb(73,183,43);
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px 20px;
}

    .cours7:hover {
        background-color: transparent;
        color: rgb(73,183,43);
        border: 1px solid rgb(73,183,43);
        transition: 1s;
    }

.cou:hover {
    background-color: transparent !important;
    color: rgb(237,78,110) !important;
    border: 1px solid rgb(237,78,110) !important;
}
