
@{
    ViewBag.Title = "Chính sách mua hàng";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}


<div class="container-fluid">
    <h2 class="font-weight-bolder">CHÍNH SÁCH MUA HÀNG</h2>
    <div class="row">
        <div class="col-md-6 bg-light mx-auto justify-content-center my-3 py-3">
            <h3 class="text-center font-weight-bold">HƯỚNG DẪN MUA HÀNG</h3>
            <p><b>Bước 1</b>: Truy cập <a href="@Url.Action("Index","Site")"><b>tdthvguitar.com</b></a> và lựa chọn sản phẩm cần mua để mua hàng</p>
            <p>
                <b>Bước 2</b>: Click và sản phẩm muốn mua, màn hình sẽ hiển thị các thông tin chi tiết về sản phẩm
                <br />
                Nếu Quý khách muốn tiếp tục mua hàng: Bấm <b>Thêm vào giỏ hàng</b>. Sau khi đã lựa chọn sản phẩm xong, chọn <b>Biểu tượng giỏ hàng</b> ở góc phải trên cùng của trang web và sau đó làm theo hướng dẫn.
            </p>
            <p>
                <b>Bước 3</b>: Lựa chọn thông tin tài khoản thanh toán<br />

                Nếu bạn đã có tài khoản vui lòng nhập thông tin tên đăng nhập là email và mật khẩu vào mục đã có tài khoản trên hệ thống.<br />

                Nếu bạn chưa có tài khoản, vui lòng chọn <b>Đăng ký</b> và điền các thông tin cá nhân để tiếp tục và làm theo hướng dẫn để kích hoạt tài khoản. Khi có tài khoản bạn sẽ có thể tiến hành thanh toán cho sản phẩm và theo dõi trạng thái đơn hàng của mình.
            </p>
            <p><b>Bước 4</b>: Điền các thông tin của bạn để nhận đơn hàng, hình thức thanh toán sẽ là thanh toán trực tiếp khi hàng được giao đến.</p>
            <p><b>Bước 5</b>: Xem lại thông tin đặt hàng và gửi đơn hàng.</p>
        </div>
    </div>
</div>
