
@{
    ViewBag.Title = "Chính sách đổi trả";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container-fluid">
    <h2 class="font-weight-bolder">CHÍNH SÁCH ĐỔI TRẢ</h2>
    <div class="row">
        <div class="col-md-6 bg-light mx-auto justify-content-center my-3 py-3">
            <h3 class="text-center font-weight-bold">CHÍNH SÁCH ĐỔI - TRẢ HÀNG</h3>
            <p>
                Đối với sản phẩm khách hàng đã dùng mà không hài lòng, khách hàng được đổi trả hàng
                trong vòng 3 ngày tính từ ngày mua hàng.
            </p>
            <p>
                Đối với sản phẩm lỗi kĩ thuật do nhà sản xuất, khách hàng được đổi trả hàng trong
                vòng từ 4 đến 15 ngày.
            </p>
            <p>
                Miễn phí đổi sản phẩm khác cùng loại có giá trị lớn hơn hoặc bằng giá trị sản phẩm lỗi,
                quý khách hàng vui lòng bù tiền chênh lệch nếu có.
            </p>

            <h4>ĐIỀU KIỆN ĐỔI - TRẢ HÀNG</h4>
            <p>
                Hàng nhập lại phải đảm bảo các yếu tố sau:
            </p>
            <ul>
                <li>
                    Hàng nhập lại phải sạch sẽ, còn nguyên tem, serial, phiếu bảo hành, còn nguyên hình dạng, 
                    không xước, biến dạng, hỏng hóc, v.v…
                </li>
                <li>
                    Hàng phải còn đầy đủ vỏ hộp và các phụ kiện đi kèm.
                </li>
            </ul>

            <p>
                Sau 03 ngày, khách hàng chỉ được trả lại hàng hoặc đổi sang mặt hàng khác khi:
            </p>
            <ul>
                <li>
                    Đối với các sản phẩm đã mua trong vòng 15 ngày: Hàng bị lỗi không phải do nguyên nhân từ phía
                    khách hàng, đã được <a href="@Url.Action("Index","Site")"><b>tdthvguitar.com</b></a> khắc phục nhưng không có kết quả hoặc được nhận bảo hành với thời
                    gian quá với quy chế được Bộ phận bảo hành xác nhận.
                </li>
                <li>
                    Đối với các sản phẩm đã mua ngoài thời hạn 15 ngày, việc đổi trả sang mặt hàng khác với
                    chi phí và cách thức được thỏa thuận với khách hàng sẽ do quản lý của TDTHV GUITAR xác nhận.
                </li>
            </ul>

            <h4>THỦ TỤC ĐỔI - TRẢ HÀNG</h4>
            <p>Khách hàng bắt buộc phải xuất trình phiếu xuất kho hoặc hóa đơn bán hàng của mặt hàng cần nhập lại.</p>
        </div>
    </div>
</div>

