
@{
    ViewBag.Title = "Chính sách giao hàng";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container-fluid">
    <h2 class="font-weight-bolder">CHÍNH SÁCH GIAO HÀNG</h2>
    <div class="row">
        <div class="col-md-6 bg-light mx-auto justify-content-center my-3 py-3">
            <h3 class="text-center font-weight-bold">CHÍNH SÁCH GIAO HÀNG</h3>
            <p>Sau khi khách hàng đặt hàng, <a href="@Url.Action("Index","Site")"><b>tdthvguitar.com</b></a> sẽ liên lạc lại để kiểm tra thông tin 
            và thỏa thuận thêm những điều khoản khác có liên quan.</p>
            <p>
                Một số trường hợp đặc biệt như giá trị đơn hàng quá lớn, thời gian giao hàng vào buổi tối, 
                địa chỉ giao hàng khó tìm hoặc có thể dẫn đến nguy hiểm, chúng tôi sẽ chủ động liên lạc với 
                quý khách để thống nhất lại thời gian giao hàng cụ thể.
            </p>
            <p>
                Sau khi giao hàng cho đơn vị vận chuyển,<a href="@Url.Action("Index","Site")"><b>tdthvguitar.com</b></a> sẽ gửi email tới quý khách để hướng dẫn 
                cách kiểm tra tình trạng đơn hàng. Thời gian giao nhận sẽ phụ thuộc vào điều phối của đơn vị 
                vận chuyển.
            </p>
            <p>
                <a href="@Url.Action("Index","Site")"><b>tdthvguitar.com</b></a> cam kết tất cả hàng hóa gửi đến khách hàng đều là hàng chính hãng mới 100% 
                (có đầy đủ hóa đơn, được bảo hành chính thức). Những rủi ro phát sinh trong quá trình vận 
                chuyển (va đập, ẩm ướt, tai nạn...) có thể ảnh hưởng đến hàng hóa, vì thế chúng tôi mong 
                khách hàng vui lòng kiểm tra hàng hóa thật kĩ trước khi ký nhận <a href="@Url.Action("Index","Site")"><b>tdthvguitar.com</b></a> sẽ không chịu 
                trách nhiệm với những sai lệch hình thức của hàng hoá sau khi khách hàng đã ký nhận hàng.
            </p>
        </div>
    </div>
</div>


