
@{
    ViewBag.Title = "Chính sách bảo hành";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container-fluid">
    <h2 class="font-weight-bolder">CHÍNH SÁCH BẢO HÀNH</h2>
    <div class="row">
        <div class="col-md-6 bg-light mx-auto justify-content-center my-3 py-3">
            <h3 class="text-center font-weight-bold">CHÍNH SÁCH BẢO HÀNH</h3>
            <p>
                Nhằm hỗ trợ và đảm bảo quyền lợi cho quý khách hàng một cách tốt nhất khi mua sản phẩm tại
                trang <a href="@Url.Action("Index","Site")"><b>tdthvguitar.com</b></a>, chúng tôi xin thông tin đến quý khách về
                <b>Chính sách bảo hành sản phẩm & Đổi trả hàng hóa.</b>
            </p>

            <h4>ĐIỀU KIỆN BẢO HÀNH</h4>
            <p>
                Đối với các sản phẩm được cấp phiếu bảo hành, khách hàng phải xuất
                trình phiếu bảo hành còn thời hạn và được ghi đầy đủ thông tin do <a href="@Url.Action("Index","Site")"><b>tdthvguitar.com</b></a>
                cung cấp.
            </p>
            <p>
                Nhãn sản phẩm, số serial của sản phẩm phải còn nguyên vẹn, không có dấu hiệu cạo sửa,
                tẩy xóa, rách, mờ.
            </p>
            <p>
                Những hư hỏng của sản phẩm được xác định do lỗi kĩ thuật hoặc lỗi của nhà sản xuất.
            </p>

            <h4>KHÔNG BẢO HÀNH ĐỐI VỚI</h4>
            <p>Sản phẩm không còn thời hạn bảo hành.</p>
            <p>Phiếu bảo hành bị rách, tẩy xóa, sửa đổi hoặc thông tin không trùng khớp với sản phẩm.</p>
            <p>Sản phẩm hư hỏng do đặt nơi bụi bẩn, ẩm ướt, bị ngấm nước.</p>
            <p>Sản phẩm bị biến dạng do tác động nhiệt, tác động bên ngoài.</p>
            <p>Sản phẩm bị biến dạng, nứt vỡ, trầy xước do lỗi của khách hàng.</p>
            <p>Sản phẩm không mua từ nguồn phân phối chính thức của website <a href="@Url.Action("Index","Site")"><b>tdthvguitar.com</b></a>.</p>
        </div>
    </div>
</div>

