
@{
    ViewBag.Title = "Thông tin";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<section class="slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#slide" data-slide-to="0" class="active"></li>
                        <li data-target="#slide" data-slide-to="1"></li>
                        <li data-target="#slide" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner" style="height:700px;">
                        <div class="carousel-item active">
                            <img src="~/Public/images/Slider/hinh2.jpg" class="img-fluid d-block w-100" alt="slide1 ">
                            <div class="text text-center mt-2 col-md-12">
                                <h2>Về chúng tôi</h2>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/Public/images/Slider/hinh3.jpg" class="img-fluid d-block w-100" alt="slide2">
                            <div class="text text-center mt-2 col-md-12">
                                <h2>Về chúng tôi</h2>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/Public/images/Slider/PX4nKv.jpg" class="img-fluid d-block w-100" alt="slide3">
                            <div class="text text-center mt-2 col-md-12">
                                <h2>Về chúng tôi</h2>

                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev mt-2 col-md-12" href="#demo" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next mt-2 col-md-12" href="#demo" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="page-header">
    <div class="container py-3">
        <div class="page-header__content">
            <h1 class="page-header__title"></h1>
        </div>
    </div>
</div>
<div class="site-content">
    <div class="container">
        <div class="site-inner page-content">
            <div class="grid justify--center">
                <div class="grid__column seven-twelfths mobile--one-whole tablet--one-whole">
                    <h1 style="text-align: center;">GIỚI THIỆU</h1>
                    <p style="text-align: justify;">
                        Tại<strong> Guitar DTDHV</strong>,
                        chúng tôi tin tưởng rằng trong mỗi con người đều tiềm ẩn một niềm
                        đam mê cũng như khả năng thưởng thức âm nhạc riêng, và chúng tôi
                        luôn nỗ lực để đánh thức bản năng âm nhạc tiềm ẩn trong bạn.
                        Với nền tảng là niềm đam mê, kiến thức âm nhạc và sự phối hợp
                        làm việc ăn ý của toàn thể đội ngũ quản lý và nhân viên công ty,
                        chúng tôi luôn nỗ lực mang đến cho các đối tác và khách hàng những
                        sản phẩm và dịch vụ với chất lượng cao nhất.
                    </p>
                    <p style="text-align: justify;">
                        <strong>Guitar DTDHV</strong> cam kết cung cấp cho quý khách hàng trải nghiệm mua sắm thuận tiện và an toàn
                        nhất với thông tin sản phẩm chi tiết, đầy đủ, quy trình mua hàng và thanh toán đơn giản, mang tính
                        bảo mật cao và những dịch vụ chăm sóc khách hàng sau khi mua hàng tận tình, chu đáo. Chúng tôi tin tưởng
                        sẽ luôn mang lại sự hài lòng tuyệt đối cho khách hàng cũng như đóng góp tích cực cho sự phát triển chung của nền âm nhạc Việt Nam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="skill_ex">
    <div class="relative page__skill">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="v-middle Experience  text-center col-md-12">
                        <h3 class=" text-uppercase text_item" style="font-size:40px;">tdtvh</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-light space text-center col-md-12">
                        <h4 class="text-uppercase  expart">
                            Chúng tôi luôn đồng hành cùng bạn trên con đường âm nhạc.
                        </h4>
                        <p class="light-txt ">
                            Chúng tôi muốn gắn kết với những người yêu thích âm nhạc qua những giai điệu mộc mạc từ guitar
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


